/* base level rules
  defining the default styling for how that element should look in all
  occurrences on the page.
  */

@import 'variables'

html
  font-size: 1em

body
  font-weight: 300
  line-height: $vertical-rhythm
  padding: 0
  margin: 0
  font-size: 0.9rem
  color: #666
  background-color: #fff

button svg
  width: 1rem
  height: 1rem

/* headings */
h1
  font-size: 1.7rem
  font-weight: 100
  display: inline-block
  
  &.page-header
    &:after
      content: ''
      display: block
      width: 40%
      height: 1px
      background: #e3e2e0
      margin-top: 0.25em
h2
  font-size: 1.4rem
  font-weight: 400

.pane-title
  text-transform: uppercase
  font-weight: 700
  font-size: 1rem
  border-bottom: 1px solid #666
  padding-bottom: 0.125em

h3
  font-size: 1.2rem
  font-weight: 400
h4
  font-size: 1rem
  font-weight: 600
h5
  font-size: 1rem
  font-weight: 900

/* copy etc */
p, li
  max-width: 56em

a:hover
  text-decoration: none
