/* tweaks to forms and form inputs */

@import 'variables'

@media (min-width: $screen-sm-min)
  #user-login, #user-pass
    input
      max-width: 300px

  .search-filter-button
    display: none

  #search-filter-collapsable
    display: block