/* major layout components like header, article footer */

@import 'variables'

#sitehead
  p, div.menu-icon
    display: inline-block

div.ds-2col-fluid 
  .group-left, .group-right 
    width: 100%
    float: left

  @media (min-width: $screen-sm-min)
    .group-left
      width: 50%
      float: left

    .group-right
      width: 50%
      float: right
      padding-left: 1em