/* Module level styles
   discrete component of the page: navigation bars, carousels, dialogs and
   widgets etc.   */

@import 'variables'
@import 'bootstrap_variables'

$menu-itempadding: 0.25rem
$menu-lineheight: 1.3rem
$menu-minheight: 3.3rem
$menu-maxheight: 128rem
$menu-transdir: 0.3s

/* css tab-visible skip link */
[href="#main"]
  position: absolute
  top: 0
  right: 100%
  background: white
  padding: 0.5rem
[href="#main"]:focus
  right: auto

/* main styles */
#main
  position: relative
  padding-bottom: 2rem
  
  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-image: url(../img/pacific_turtle.jpg)
    opacity: 0.25
    background-repeat: no-repeat
    background-position: 100% 0%
    z-index: -1

@media only screen and (max-width: $screen-sm - 1px)
  #main:before
    opacity: 0.15

/* navbar styles */
.deptrow
  
  .row
    background: #666
    margin-left: -30px
    margin-right: -30px

    .col
      a
        color: #ccc
        text-transform: uppercase
        font-size: 0.7rem
        font-weight: 600

        &:hover
          text-decoration: None
          color: #fff

#sitehead
  background-color: $col-fijilight
  font-size: 1rem

  .titlerow
    &.row
      height: 9rem

    .col
      height: 100%
      position: relative

    background-image: url(../img/header1.jpg)
    background-image: url(../img/header1.jpg), linear-gradient(to bottom, #acc5da 14%, #c5d4d7 20%, #98ad3d 28%, #91af1f 31%, #5c6f2f 38%, #243125 46%, #3a6941 54%, #5b874f 60%, #74a583 70%, #7da896 79%, #9dbcbd 86%, #91b4b6 91%, #518f65 100%)    
    background-size: cover
    background-position: 50% 50%
    height: 100%
    position: relative

  .megatrans
    height: 2rem
    position: relative
    background-image: linear-gradient(to bottom, $col-fijilight-trans, $col-fijilight)
    z-index: 1
    top: 7rem

  .megamenu
    overflow: hidden
    -webkit-transition-property: max-height
    -webkit-transition-duration: $menu-transdir
    -webkit-transition-direction: forwards
    -moz-transition-property: max-height
    -moz-transition-duration: $menu-transdir
    -moz-transition-direction: forwards
    -o-transition-property: max-height
    -o-transition-duration: $menu-transdir
    -o-transition-direction: forwards
    transition-property: max-height
    transition-duration: $menu-transdir
    transition-direction: forwards

    a
      transition-property: opacity
      transition-duration: $menu-transdir
      transition-delay: 0.2s
      transition-direction: forwards

      &.inactive
        opacity: 0.3

    &.expanded
      max-height: $menu-maxheight

  .brand
    font-size: 1.8rem
    font-weight: 700
    line-height: 1em
    margin-right: 5rem
    margin-top: 1.5rem
    position: relative
    z-index: 3

    div
      img
        width: 3rem
        height: 3rem
        margin-bottom: 0.5rem
    a
      color: white
      text-shadow: 0.1rem 0.1rem 0.2rem black

      &:hover
        color: #f6f4ed
        text-decoration: none

  .menubutton
    display: none
      
  .megacolumn
    max-height: $menu-minheight
    overflow: hidden
    padding: 0 1rem 2rem 0

    &.expanded
      max-height: $menu-maxheight

    p
      cursor: pointer

      &:hover
        color: darken($col-fiji, 20%)

    li
      border-radius: 0.25rem

      &:hover
        background: white
        color: black
      a
        font-weight: 400
        color: darken($link-color, 5%)

        &:hover
          text-decoration: none
          
    header
      height: 2.5rem
      overflow: hidden
      line-height: $menu-lineheight
      margin-top: 0.65rem
      padding: $menu-itempadding

      p
        font-weight: 500
        color: black

    ul
      list-style-type: none
      padding: 0

      li  
        padding: $menu-itempadding
        line-height: $menu-lineheight

        a
          display: block

.searchform
  padding: $menu-itempadding
  position: absolute
  z-index: 102
  right: 0
  text-align: left

  label
    margin-bottom: 0
    display: block

  #searchinput
    width: 50vw

.swoosh
  position: relative
  z-index: 103
  background-repeat: repeat-x
  background-image: url(../img/fiji_swoosh.svg)
  background-size: 105%
  padding-bottom: 7%
  pointer-events: none
  margin-top: -4%
  margin-left: -7px

.contain
  position: relative

@media (min-width: $screen-lg-min)
  #sitehead
    .swoosh
      margin-top: -4%

    .megamenu
      max-height: $menu-minheight + 2rem

@media (max-width: 319px)
  #sitehead
    .brand
      font-size: 1.2rem

/* copy bootstrap logic of .container to .contain */
@media (min-width: $screen-sm-min)

  #sitehead
    .brand
      font-size: 2.2rem

    .megamenu
      max-height: $menu-minheight

  .contain
    width: $container-sm
    margin: 0 auto
    padding: 0 1rem

@media (min-width: $screen-md-min)

  #sitehead
    .brand
      font-size: 2.5rem

  .contain
    width: $container-md

@media (min-width: $screen-lg-min)

  #sitehead
    .brand
      font-size: 2.8rem

  .contain
    width: $container-lg

@media only screen and (min-width: $screen-sm)

  #sitehead

    .titlerow
      &.row
        height: 9rem

    .searchform
      right: 1.5rem
      background-color: rgba(255, 255, 255, 0.7)
      padding-left: 1em
      padding-right: 1em

      form
        text-align: right

      label
        display: inline-block

      #searchinput
        width: 12rem

      #searchinput
        width: auto

    .menubutton
      svg
        width: 1.2rem
        height: 1.2rem

    .megamenu
      height: auto
      overflow: show


@media only screen and (max-width: $screen-xs)
  #sitehead
    .menubutton
      display: block
      position: absolute
      z-index: 101
      top: 6rem
      right: -2rem
      padding: 0 4rem

      button
        background: white
        border: none
        padding: 0.5rem 0.5rem 0.25rem 0.5rem
        border-radius: 0.25rem
        margin-top: 1rem

// add clears when number of mega menu columns in the screen < in .row
@media only screen and (max-width: $screen-sm - 1px)
  #sitehead
    .megamenu nav .col:nth-child(2n+1)
      clear: both

@media only screen and (min-width: $screen-sm) and (max-width: $screen-md - 1px)
  #sitehead
    .megamenu nav .col:nth-child(4n+1)
      clear: both

/* footer styles */


footer
  font-weight: 400

  p, li
    font-size: 0.9rem
    margin-bottom: 0.5rem
    line-height: 1.1em

  @media only screen and (max-width: $screen-sm)
    li
      margin-bottom: 1.5rem

  .container
    border-top: 1px solid #666

  .image-wrapper
    background-image: url(../img/footer.jpg)
    background-size: cover

  .translucency
    margin: 0.5rem auto 2rem
    background: lighten($col-fiji, 30%)
    background: rgba(255, 255, 255, 0.8)
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9))
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9))
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9))
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9))
    padding: 1rem

  .views-row
    margin-top: 0

  .row
    padding-top: 0.5em

    &.division
      margin-top: 1em
      border-top: 1px solid black
  
  header
    font-weight: 700

  ul
    list-style-type: none
    padding-left: 0

    li
      span.field-content
        color: black

  a
    color: rgb(27, 64, 128)

/* Workbench moderation styling */
.block-workbench
  .workbench-info-block
    background-color: rgba(255, 251, 217, 0.7)
    padding: 1rem
    
    select
      margin: 0.25rem 0
      width: auto

      & > option
        padding: 0.25rem 0.5rem

    button
      cursor: pointer
      padding: 4px 17px
      margin-bottom: 1em
      margin-right: 1em
      color: #5a5a5a
      text-align: center
      font-weight: normal
      font-size: 1.077em
      font-family: "Lucida Grande",Verdana,sans-serif
      border: 1px solid #e4e4e4
      border-bottom: 1px solid #b4b4b4
      border-left-color: #d2d2d2
      border-right-color: #d2d2d2
      background: url(/themes/seven/images/buttons.png) 0 0 repeat-x
      -moz-border-radius: 20px
      -webkit-border-radius: 20px
      border-radius: 20px
      border: 1px solid #999
      text-transform: none

      &:hover
        background: white

/* image gallery styling */

ul.galleries-list
  .view-node-gallery-gallery-item-views
    header, .field-name-body
      display: none

ul.gallery-list, ul.galleries-list, ul.gallery-thumbnail-list
  list-style-type: none
  margin: 0
  padding: 0

  li.views-row
    display: inline-block
    max-width: 16rem
    vertical-align: top
    margin-top: 0

ul.gallery-list, ul.galleries-list
  li.views-row
    margin-right: 1rem
