@import 'bootstrap_variables'
@import 'variables'


/* bootstrap enhancements */

.row-centered
  text-align: center

.col-centered
  display: inline-block
  float: none
  margin-right: -4px

@media only screen and (max-width: $screen-xs-max)
  .btn
    white-space: normal
    width: 100%
    overflow: hidden
    text-overflow: ellipsis
    font-size: 0.7rem !important

  img.front-icons
    max-width: 5.625rem
    height: auto !important

/* drupal overrides */

ul.view-content
  list-style-type: none
  padding: 0

  .views-field-type
    font-size: 0.8em
    color: #999

  li
    margin-bottom: 1em

ul[class|=facetapi]
  list-style-type: none
  padding: 0
  li
    padding-left: 2em
    & > div
      & > input
        margin-left: -1.5rem
      & > a
        padding-left: 0.8rem
    & > input
      margin-left: -1.5rem
      margin-right: 0.8rem

.field
  margin-top: 0.5rem

#glossary
  & > *
    margin-top: 1em
    text-align: center

  & > [class$="-list"]
    text-align: left

    dl
      font-size: 1rem

      dt
        font-size: 1.2rem
        font-weight: 400

    .lexicon-extralinks
      a
        padding: 0 1em
        font-size: 1rem
        background-color: transparent
        font-weight: 100

        &:before
          content: 'Site '

  .lexicon-links
    background-color: transparent !important

    a
      padding: 0.25em

      &:hover
        background: white

  a.lexicon-term
    color: $col-fiji-warm !important
    border-bottom: 1px dotted $col-fiji-warm !important

.lexicon-admin-links
  margin: 1em 0 2em

  ul
    list-style-type: none
    padding: 0
    text-align: center

    li
      display: inline-block

      a
        padding: 0.6em 1em
        border: 1px solid $navbar-default-border

        &:hover
          background: white

.group-linkwrapper
  padding: 2em 0

.field-type-text-with-summary, .field-type-text

  &:first-child
    img.media-element
      margin-top: 0 !important
    
  img.media-element[style*='left']
    margin-left: 0 !important

  img.media-element[style*='right']
    margin-right: 0 !important


#block-workbench-block
  .workbench-info-block
    font-weight: 700

    em
      font-weight: 300
      font-style: normal
    
/* jquery ui overrides */

.ui-widget
  font-family: $font-family-base

  h3
    text-transform: uppercase
    font-weight: 500
    border-bottom: 1px solid #666

    &.ui-state-active
      border-bottom: 2px solid $col-fiji-warm
      a
        color: $col-fiji-warm


.ui-accordion
  background-color: $col-fiji-warm-background

  h3.accordion-item
    &:hover
      background: lighten($col-fiji-warm-background, 20%)

  .ui-state-active
    background: white

  .ui-widget-content
    & > .field
      border-bottom: 1px solid #b4b1ab
      padding-bottom: 0.5em

    .field-label-inline
      & > .field-label
        width: 30%
        float: left
      & > .field-items
        width: 70%
        float: left


/* field groups */

.field-group-htabs
  .horizontal-tabs
    border: 0
    margin: 0

    ul.horizontal-tabs-list
      background: transparent
      border-right: none
      border-bottom: 1px solid #e3e2e0

      li
        border-right: none
        background: transparent

        a
          color: #666

          &:hover
            background: white

        &.selected
          border-bottom: 2px solid $col-fiji-warm
          background: white

          a
            strong
              color: $col-fiji-warm
            

    .horizontal-tabs-panes
      fieldset
        padding: 1em 0

        .panel-body
          padding: 0
      
    
    .horizontal-tab-panes
      background-color: transparent
      
  
/* calendar */

.view
  .date-nav-wrapper
    .date-prev, .date-next
      font-size: inherit
      background: transparent
      a
        background: $col-fijilight
    .date-prev
      left: 0
      right: auto
  .calendar-calendar
    td.empty
      color: white
    th.days
      background-color: $col-fijilight
      color: #333
    .month-view .full
      td.date-box.empty, td.single-day.empty
        background-color: darken($col-fiji, 50%)
      td.today, td.single-day.today
        border-color: black

/* facetapi */

.nab-searchpages .centercols-wrapper .panel-col-first .facetapi-checkbox
  color: #525252
  
.btn, .pane-current-search-regional-search .current-search-reset, .pane-current-search-regional-search li, .facetapi-limit-link
  display: inline-block
  border: 2px solid $col-fiji-warm
  text-transform: uppercase
  font-weight: 700
  padding: 0.6em 1em 0.5em
  box-shadow: none
  color: $col-fiji-warm
  background-color: white
  border-radius: 0
  font-size: 0.9em

  &:hover
    border-color: lighten($col-fiji-warm, 20%)
    color: lighten($col-fiji-warm, 20%)
    background-color: white


/* drupal views */

.views-exposed-form
  margin-bottom: 2rem

  .views-exposed-widget .form-submit
    margin-top: 0

.views-field
  margin-top: 0.25rem

.views-row
  margin-top: 2rem

.centercols-wrapper
  & > .panel-col-last
    background-color: $col-fiji-warmgrey-trans
    & > .inside
      padding-right: 1em


/* special label fields. project status, date etc*/
.views-field-field-project-status, .field-name-field-project-status, .field-name-post-date, 
.field-name-field-start-end-date, .views-field-created, .views-field-field-start-end-date
  display: inline-block
  padding: 0 1em 0 0
  text-transform: uppercase
  font-size: 0.8rem

  .result-image
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.25)

/* home page overrides */
img.front-icons
  height: 8rem

/* news page overrides */
.node-news
  .field-name-field-image
    display: inline-block
    float: right
    margin: 0 0 1rem 1rem
    max-width: 50%

/* project and custodian overrides */
.group-related-documents
  .field-name-field-related-documents-entity
    & > .field-items
      & > .field-item
        margin-bottom: 1rem
        padding: 0.5rem 1rem
        border: 1px dashed #999
        background: white

        h2
          font-size: 1.1rem
          margin-top: 0

        .field-name-field-cover-image
          display: inline-block
          float: left
          margin: 0 1rem 0.5rem 0

  & > .field-label
    color: $col-fiji-warm
