.view-dataset-search

  .views-field-title, .views-field-field-publication-year
    display: inline-block

  .views-row-odd
    background: rgba(255,255,255,0.9)

  h3
    font-size: 1.3rem
    margin-top: 2rem
    margin-bottom: -1rem
    font-weight: 400

  h4
    font-weight: 400
    font-size: 1.3em
    display: inline-block
    & + *
      display: inline-block
      float: right

.view-document-search, .view-policy-search, .view-educational-resources-2, 
.view-news-search-2, .view-site-search, .view-event-search, .view-project-search, 
.view-organisation-search, .view-latest-news, .view-regional-search, .view--fund-search

  .views-row
    padding-top: 1rem
    padding-bottom: 1.5em
    padding-right: 2em
    clear: left
    margin-top: 0
    overflow-wrap: break-word

    &:after
      content: ''
      display: block
      clear: both

  .views-row-odd
    background: rgba(255,255,255,0.9)

  .result-image
    display: inline
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.25)
    float: left
    margin-right: 1em

  @media (min-width: $screen-sm-min)
    .views-row
      padding-left: 120px

    .result-image
      margin-left: -110px
      margin-right: -10px

    .views-field
      position: relative
      left: 2em
      margin-right: 2em

  h3
    display: inline
    & + *
      display: inline-block
      float: right

  .views-field-title
    margin-right: 0
    a
      font-size: 1.3rem
      line-height: 110%
      font-weight: 400

.view-project-search, .view-regional-search

  .views-row
    padding-left: 0

  .views-field-solr-document, .views-field-solr-document-2
    margin-right: 0

  @media (min-width: $screen-sm-min)
    .views-row
      padding-left: 0

.view-latest-news
  h2
    display: inline
    & + *
      display: inline-block
      float: right

  .views-field-title
    margin-right: 0
    a
      font-size: 1.3rem
      line-height: 110%
      font-weight: 400

