/* Older browser fallbacks */
@import 'variables'

$menu-itempadding: 4px
$menu-lineheight: 16px

html
  font-size: 16px

/* css tab-visible skip link */
[href="#main"]
  padding: 8px

footer
  margin-top: 32px

.deptrow
  .row
    .col
      a
        font-size: 10px

#sitehead
  .titlerow
    &.row
      height: 112px

  .brand
    font-size: 36px
    line-height: 28px
    margin-right: 48px
    margin-top: 12px

    div
      img
        width: 48px
        height: 48px
        margin-bottom: 8px

  .menubutton
    display: none

  .searchform
    padding: 8px 16px
    right: 8px
    background-color: $col-fijilight

  .megamenu, .megacolumn
    height: auto

  .megacolumn
    width: 25%

#main
  &:before
    display: none

footer
  .translucency
    margin-top: 8px
    padding-left: 16px
    padding-right: 16px
    background-color: $col-fijilight
