@import 'variables'
@import 'bootstrap_variables'

.nab-threecol-stacked
  h1, h2
    text-align: center

  h1
    display: block
    font-size: 2.5rem
    margin-bottom: 0.8em

  h2
    margin-top: 1em
    font-size: 2rem

  h3
    color: $col-fiji-warm

  .col-sm-8
    padding-left: 0
    padding-right: 0

  .entity-bean
    text-align: center