@import 'variables'
@import 'bootstrap_variables'

.view-promoted-content

  h2
    font-size: 1.4rem


  margin: 2rem 0
  font-size: 0

  ul.promoted-content-item
    list-style-type: none
    padding: 0

    li.views-row
      display: inline-block
      width: 33.33333%
      font-size: 1rem
      padding: 0 2rem
      vertical-align: top

      @media only screen and (min-width: $screen-sm-min + 1px)
        &:not(:last-child)
          &:before
            content: ''
            height: 450px
            position: relative
            display: inline-block
            float: right
            margin-right: -2rem
            width: 1px
            border-right: 1px solid #ccc

      .node-image *
        margin-left: auto
        margin-right: auto
        text-align: center

      div
        margin-bottom: 0.25rem

      .field-name-field-cover-image
        display: inline-block
        float: left
        margin-right: 1rem

      .field-name-post-date, .field-name-field-start-end-date
        display: block
        text-align: center

      .node-node-gallery-item
        header
          display: none

      .field-name-node-gallery-media img
        box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.25)


@media only screen and (max-width: $screen-sm-min)
  .view-promoted-content
    ul.promoted-content-item
      li.views-row
        width: 100%
        padding: 0
