@import 'overrides'
@import 'base'
@import 'layout'
@import 'module'
@import 'state'
@import 'forms'
@import 'search_pages'
@import 'news_and_events'
@import 'organisations_and_contacts'
@import 'nab_threecol_stacked'
@import 'promoted_content_view'
@import 'galleries'
@import 'utils'



$primary-color-darker: #3c9f92
$primary-color-dark: #6cad9f
$primary-color-soft: #95c3b5
$primary-color-softer: #ccdcc6
$primary-color-softest: #e2ded8

$secondary-color-dark: #70a8bd
$secondary-color-soft: #a3c3d0





.test 
    background-color: #fff

#sitehead 
    background-color: $primary-color-softest
    color: #333

#sitehead .searchform 
    padding: 8px 16px
    right: 8px
    background-color: $primary-color-softest


deptrow .row
    background-color: $secondary-color-dark

deptrow .row .col a 
    color: $primary-color-softest
    text-transform: uppercase
    font-size: 0.7rem
    font-weight: 600



