/**
 * @file
 * Styling for the ds-3col template.
 */

.nab-3col > .group-left {
  width: 25%;
  float: left; /* LTR */
}

.nab-3col > .group-middle {
  width: 50%;
  float: left; /* LTR */
}

.nab-3col > .group-right {
  width: 25%;
  float: right; /* LTR */
}
