/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #ffffff;
  background-color: #428bca;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}

.block-icon {
	font-size: 2em;
	color: #999;
	line-height: 2em;
	margin: 0 auto;
}

.result {
	margin: 1em auto;
  border-bottom:1px dashed rgba(0,0,0,.2);
  padding-bottom:1em;
}
li.disabled {
  opacity:.5;
}
li.hidden{
  display: none;
}
ul.active-filters li {
  margin-right:.3em;
}
ul.active-filters li a {
  color:white;
  font-size:1.1em;
  margin-left:.3em;
}
ul.active-filters li a:hover {
  color:rgba(255,255,255,.7);
}
ul.download-list {
  list-style-type: none;
  padding-left:1em;
}
ul.download-list li a i {
  margin-right:.5em;
  display:inline-block;
}

span.clear {
  clear: both;
}

ul.author-list li {
  list-style: none;
  float:left;
  
}