.nab-searchpages .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.nab-searchpages .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.nab-seachpages .panel-separator {
  margin: 0 0 1em 0;
}

@media (min-width: 1024px) {
	.centercols-wrapper .panel-col-first {
	  float: left;
	  width: 30%;
	}

	.centercols-wrapper .panel-col {
	  float: left;
	  width: 30%;
	  padding-left: 2em;
	}

	.centercols-wrapper .panel-col-last { 
	  float: right; 
	  width: 70%; 
	  padding-left: 2em;
	}

}