/**
 * @file
 * Styling for the ds-3col template.
 */

.nab-projects > .group-left {
  padding: 1em 0;
} 

.nab-projects .group-top-middle {
  padding-bottom: 2em;
}

@media (min-width: 1024px) {
  .nab-projects > .group-left {
    width: 70%;
    float: left; 
    padding-right: 2em;
  }

  .nab-projects .group-top-left,
  .nab-projects .group-bottom-left {
    width: 67.5%;
    float: left; 
  } 

  .nab-projects .group-top-middle,
  .nab-projects .group-bottom-middle {
    width: 27.8125%;
    float: right; 
  }

  .nab-projects > .group-right {
    width: 30%;
    float: right; 
    padding-top: 3em;
  }
}
