/* Older browser fallbacks */
html {
  font-size: 16px; }

/* css tab-visible skip link */
[href="#main"] {
  padding: 8px; }

footer {
  margin-top: 32px; }

.deptrow .row .col a {
  font-size: 10px; }

#sitehead .titlerow.row {
  height: 112px; }
#sitehead .brand {
  font-size: 36px;
  line-height: 28px;
  margin-right: 48px;
  margin-top: 12px; }
  #sitehead .brand div img {
    width: 48px;
    height: 48px;
    margin-bottom: 8px; }
#sitehead .menubutton {
  display: none; }
#sitehead .searchform {
  padding: 8px 16px;
  right: 8px;
  background-color: #e5ecf3; }
#sitehead .megamenu, #sitehead .megacolumn {
  height: auto; }
#sitehead .megacolumn {
  width: 25%; }

#main:before {
  display: none; }

footer .translucency {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #e5ecf3; }
