/* line 5, ../sass/nab_threecol_stacked.sass */
.nab-threecol-stacked h1, .nab-threecol-stacked h2 {
  text-align: center;
}
/* line 8, ../sass/nab_threecol_stacked.sass */
.nab-threecol-stacked h1 {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 0.8em;
}
/* line 13, ../sass/nab_threecol_stacked.sass */
.nab-threecol-stacked h2 {
  margin-top: 1em;
  font-size: 2rem;
}
/* line 17, ../sass/nab_threecol_stacked.sass */
.nab-threecol-stacked h3 {
  color: #921d34;
}
/* line 20, ../sass/nab_threecol_stacked.sass */
.nab-threecol-stacked .col-sm-8 {
  padding-left: 0;
  padding-right: 0;
}
/* line 24, ../sass/nab_threecol_stacked.sass */
.nab-threecol-stacked .entity-bean {
  text-align: center;
}
