/* line 4, ../sass/promoted_content_view.sass */
.view-promoted-content {
  margin: 2rem 0;
  font-size: 0;
}
/* line 6, ../sass/promoted_content_view.sass */
.view-promoted-content h2 {
  font-size: 1.4rem;
}
/* line 13, ../sass/promoted_content_view.sass */
.view-promoted-content ul.promoted-content-item {
  list-style-type: none;
  padding: 0;
}
/* line 17, ../sass/promoted_content_view.sass */
.view-promoted-content ul.promoted-content-item li.views-row {
  display: inline-block;
  width: 33.33333%;
  font-size: 1rem;
  padding: 0 2rem;
  vertical-align: top;
}
@media only screen and (min-width: 769px) {
  /* line 26, ../sass/promoted_content_view.sass */
  .view-promoted-content ul.promoted-content-item li.views-row:not(:last-child):before {
    content: "";
    height: 450px;
    position: relative;
    display: inline-block;
    float: right;
    margin-right: -2rem;
    width: 1px;
    border-right: 1px solid #ccc;
  }
}
/* line 36, ../sass/promoted_content_view.sass */
.view-promoted-content ul.promoted-content-item li.views-row .node-image * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 41, ../sass/promoted_content_view.sass */
.view-promoted-content ul.promoted-content-item li.views-row div {
  margin-bottom: 0.25rem;
}
/* line 44, ../sass/promoted_content_view.sass */
.view-promoted-content ul.promoted-content-item li.views-row .field-name-field-cover-image {
  display: inline-block;
  float: left;
  margin-right: 1rem;
}
/* line 49, ../sass/promoted_content_view.sass */
.view-promoted-content ul.promoted-content-item li.views-row .field-name-post-date, .view-promoted-content ul.promoted-content-item li.views-row .field-name-field-start-end-date {
  display: block;
  text-align: center;
}
/* line 54, ../sass/promoted_content_view.sass */
.view-promoted-content ul.promoted-content-item li.views-row .node-node-gallery-item header {
  display: none;
}
/* line 57, ../sass/promoted_content_view.sass */
.view-promoted-content ul.promoted-content-item li.views-row .field-name-node-gallery-media img {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  /* line 64, ../sass/promoted_content_view.sass */
  .view-promoted-content ul.promoted-content-item li.views-row {
    width: 100%;
    padding: 0;
  }
}
