/* bootstrap enhancements */
.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px; }

@media only screen and (max-width: 767px) {
  .btn {
    white-space: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem !important; }

  img.front-icons {
    max-width: 5.625rem;
    height: auto !important; } }
/* drupal overrides */
ul.view-content {
  list-style-type: none;
  padding: 0; }
  ul.view-content .views-field-type {
    font-size: 0.8em;
    color: #999; }
  ul.view-content li {
    margin-bottom: 1em; }

ul[class|=facetapi] {
  list-style-type: none;
  padding: 0; }
  ul[class|=facetapi] li {
    padding-left: 2em; }
    ul[class|=facetapi] li > div > input {
      margin-left: -1.5rem; }
    ul[class|=facetapi] li > div > a {
      padding-left: 0.8rem; }
    ul[class|=facetapi] li > input {
      margin-left: -1.5rem;
      margin-right: 0.8rem; }

.field {
  margin-top: 0.5rem; }

#glossary > * {
  margin-top: 1em;
  text-align: center; }
#glossary > [class$="-list"] {
  text-align: left; }
  #glossary > [class$="-list"] dl {
    font-size: 1rem; }
    #glossary > [class$="-list"] dl dt {
      font-size: 1.2rem;
      font-weight: 400; }
  #glossary > [class$="-list"] .lexicon-extralinks a {
    padding: 0 1em;
    font-size: 1rem;
    background-color: transparent;
    font-weight: 100; }
    #glossary > [class$="-list"] .lexicon-extralinks a:before {
      content: "Site "; }
#glossary .lexicon-links {
  background-color: transparent !important; }
  #glossary .lexicon-links a {
    padding: 0.25em; }
    #glossary .lexicon-links a:hover {
      background: white; }
#glossary a.lexicon-term {
  color: #921d34 !important;
  border-bottom: 1px dotted #921d34 !important; }

.lexicon-admin-links {
  margin: 1em 0 2em; }
  .lexicon-admin-links ul {
    list-style-type: none;
    padding: 0;
    text-align: center; }
    .lexicon-admin-links ul li {
      display: inline-block; }
      .lexicon-admin-links ul li a {
        padding: 0.6em 1em;
        border: 1px solid #e7e7e7; }
        .lexicon-admin-links ul li a:hover {
          background: white; }

.group-linkwrapper {
  padding: 2em 0; }

.field-type-text-with-summary:first-child img.media-element, .field-type-text:first-child img.media-element {
  margin-top: 0 !important; }
.field-type-text-with-summary img.media-element[style*='left'], .field-type-text img.media-element[style*='left'] {
  margin-left: 0 !important; }
.field-type-text-with-summary img.media-element[style*='right'], .field-type-text img.media-element[style*='right'] {
  margin-right: 0 !important; }

#block-workbench-block .workbench-info-block {
  font-weight: 700; }
  #block-workbench-block .workbench-info-block em {
    font-weight: 300;
    font-style: normal; }

/* jquery ui overrides */
.ui-widget {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .ui-widget h3 {
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid #666; }
    .ui-widget h3.ui-state-active {
      border-bottom: 2px solid #921d34; }
      .ui-widget h3.ui-state-active a {
        color: #921d34; }

.ui-accordion {
  background-color: rgba(250, 242, 243, 0.7); }
  .ui-accordion h3.accordion-item:hover {
    background: rgba(255, 255, 255, 0.7); }
  .ui-accordion .ui-state-active {
    background: white; }
  .ui-accordion .ui-widget-content > .field {
    border-bottom: 1px solid #b4b1ab;
    padding-bottom: 0.5em; }
  .ui-accordion .ui-widget-content .field-label-inline > .field-label {
    width: 30%;
    float: left; }
  .ui-accordion .ui-widget-content .field-label-inline > .field-items {
    width: 70%;
    float: left; }

/* field groups */
.field-group-htabs .horizontal-tabs {
  border: 0;
  margin: 0; }
  .field-group-htabs .horizontal-tabs ul.horizontal-tabs-list {
    background: transparent;
    border-right: none;
    border-bottom: 1px solid #e3e2e0; }
    .field-group-htabs .horizontal-tabs ul.horizontal-tabs-list li {
      border-right: none;
      background: transparent; }
      .field-group-htabs .horizontal-tabs ul.horizontal-tabs-list li a {
        color: #666; }
        .field-group-htabs .horizontal-tabs ul.horizontal-tabs-list li a:hover {
          background: white; }
      .field-group-htabs .horizontal-tabs ul.horizontal-tabs-list li.selected {
        border-bottom: 2px solid #921d34;
        background: white; }
        .field-group-htabs .horizontal-tabs ul.horizontal-tabs-list li.selected a strong {
          color: #921d34; }
  .field-group-htabs .horizontal-tabs .horizontal-tabs-panes fieldset {
    padding: 1em 0; }
    .field-group-htabs .horizontal-tabs .horizontal-tabs-panes fieldset .panel-body {
      padding: 0; }
  .field-group-htabs .horizontal-tabs .horizontal-tab-panes {
    background-color: transparent; }

/* calendar */
.view .date-nav-wrapper .date-prev, .view .date-nav-wrapper .date-next {
  font-size: inherit;
  background: transparent; }
  .view .date-nav-wrapper .date-prev a, .view .date-nav-wrapper .date-next a {
    background: #e5ecf3; }
.view .date-nav-wrapper .date-prev {
  left: 0;
  right: auto; }
.view .calendar-calendar td.empty {
  color: white; }
.view .calendar-calendar th.days {
  background-color: #e5ecf3;
  color: #333; }
.view .calendar-calendar .month-view .full td.date-box.empty, .view .calendar-calendar .month-view .full td.single-day.empty {
  background-color: #0d4256; }
.view .calendar-calendar .month-view .full td.today, .view .calendar-calendar .month-view .full td.single-day.today {
  border-color: black; }

/* facetapi */
.nab-searchpages .centercols-wrapper .panel-col-first .facetapi-checkbox {
  color: #525252; }

.btn, .pane-current-search-regional-search .current-search-reset, .pane-current-search-regional-search li, .facetapi-limit-link {
  display: inline-block;
  border: 2px solid #921d34;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.6em 1em 0.5em;
  box-shadow: none;
  color: #921d34;
  background-color: white;
  border-radius: 0;
  font-size: 0.9em; }
  .btn:hover, .pane-current-search-regional-search .current-search-reset:hover, .pane-current-search-regional-search li:hover, .facetapi-limit-link:hover {
    border-color: #d83d5b;
    color: #d83d5b;
    background-color: white; }

/* drupal views */
.views-exposed-form {
  margin-bottom: 2rem; }
  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 0; }

.views-field {
  margin-top: 0.25rem; }

.views-row {
  margin-top: 2rem; }

.centercols-wrapper > .panel-col-last {
  background-color: rgba(252, 250, 250, 0.7); }
  .centercols-wrapper > .panel-col-last > .inside {
    padding-right: 1em; }

/* special label fields. project status, date etc */
.views-field-field-project-status, .field-name-field-project-status, .field-name-post-date,
.field-name-field-start-end-date, .views-field-created, .views-field-field-start-end-date {
  display: inline-block;
  padding: 0 1em 0 0;
  text-transform: uppercase;
  font-size: 0.8rem; }
  .views-field-field-project-status .result-image, .field-name-field-project-status .result-image, .field-name-post-date .result-image,
  .field-name-field-start-end-date .result-image, .views-field-created .result-image, .views-field-field-start-end-date .result-image {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25); }

/* home page overrides */
img.front-icons {
  height: 8rem; }

/* news page overrides */
.node-news .field-name-field-image {
  display: inline-block;
  float: right;
  margin: 0 0 1rem 1rem;
  max-width: 50%; }

/* project and custodian overrides */
.group-related-documents .field-name-field-related-documents-entity > .field-items > .field-item {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px dashed #999;
  background: white; }
  .group-related-documents .field-name-field-related-documents-entity > .field-items > .field-item h2 {
    font-size: 1.1rem;
    margin-top: 0; }
  .group-related-documents .field-name-field-related-documents-entity > .field-items > .field-item .field-name-field-cover-image {
    display: inline-block;
    float: left;
    margin: 0 1rem 0.5rem 0; }
.group-related-documents > .field-label {
  color: #921d34; }

/* base level rules
 * defining the default styling for how that element should look in all
 * occurrences on the page.
 */
html {
  font-size: 1em; }

body {
  font-weight: 300;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  color: #666;
  background-color: #fff; }

button svg {
  width: 1rem;
  height: 1rem; }

/* headings */
h1 {
  font-size: 1.7rem;
  font-weight: 100;
  display: inline-block; }
  h1.page-header:after {
    content: "";
    display: block;
    width: 40%;
    height: 1px;
    background: #e3e2e0;
    margin-top: 0.25em; }

h2 {
  font-size: 1.4rem;
  font-weight: 400; }

.pane-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  border-bottom: 1px solid #666;
  padding-bottom: 0.125em; }

h3 {
  font-size: 1.2rem;
  font-weight: 400; }

h4 {
  font-size: 1rem;
  font-weight: 600; }

h5 {
  font-size: 1rem;
  font-weight: 900; }

/* copy etc */
p, li {
  max-width: 56em; }

a:hover {
  text-decoration: none; }

/* major layout components like header, article footer */
#sitehead p, #sitehead div.menu-icon {
  display: inline-block; }

div.ds-2col-fluid .group-left, div.ds-2col-fluid .group-right {
  width: 100%;
  float: left; }
@media (min-width: 768px) {
  div.ds-2col-fluid .group-left {
    width: 50%;
    float: left; }
  div.ds-2col-fluid .group-right {
    width: 50%;
    float: right;
    padding-left: 1em; } }

/* Module level styles
 * discrete component of the page: navigation bars, carousels, dialogs and
 * widgets etc.   */
/* css tab-visible skip link */
[href="#main"] {
  position: absolute;
  top: 0;
  right: 100%;
  background: white;
  padding: 0.5rem; }

[href="#main"]:focus {
  right: auto; }

/* main styles */
#main {
  position: relative;
  padding-bottom: 2rem; }
  #main:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../img/pacific_turtle.jpg);
    opacity: 0.25;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    z-index: -1; }

@media only screen and (max-width: 767px) {
  #main:before {
    opacity: 0.15; } }
/* navbar styles */
.deptrow .row {
  background: #666;
  margin-left: -30px;
  margin-right: -30px; }
  .deptrow .row .col a {
    color: #ccc;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600; }
    .deptrow .row .col a:hover {
      text-decoration: None;
      color: #fff; }

#sitehead {
  background-color: #e5ecf3;
  font-size: 1rem; }
  #sitehead .titlerow {
    background-image: url(../img/header1.jpg);
    background-image: url(../img/header1.jpg), linear-gradient(to bottom, #acc5da 14%, #c5d4d7 20%, #98ad3d 28%, #91af1f 31%, #5c6f2f 38%, #243125 46%, #3a6941 54%, #5b874f 60%, #74a583 70%, #7da896 79%, #9dbcbd 86%, #91b4b6 91%, #518f65 100%);
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    position: relative; }
    #sitehead .titlerow.row {
      height: 9rem; }
    #sitehead .titlerow .col {
      height: 100%;
      position: relative; }
  #sitehead .megatrans {
    height: 2rem;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(229, 236, 243, 0), #e5ecf3);
    z-index: 1;
    top: 7rem; }
  #sitehead .megamenu {
    overflow: hidden;
    -webkit-transition-property: max-height;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-direction: forwards;
    -moz-transition-property: max-height;
    -moz-transition-duration: 0.3s;
    -moz-transition-direction: forwards;
    -o-transition-property: max-height;
    -o-transition-duration: 0.3s;
    -o-transition-direction: forwards;
    transition-property: max-height;
    transition-duration: 0.3s;
    transition-direction: forwards; }
    #sitehead .megamenu a {
      transition-property: opacity;
      transition-duration: 0.3s;
      transition-delay: 0.2s;
      transition-direction: forwards; }
      #sitehead .megamenu a.inactive {
        opacity: 0.3; }
    #sitehead .megamenu.expanded {
      max-height: 128rem; }
  #sitehead .brand {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1em;
    margin-right: 5rem;
    margin-top: 1.5rem;
    position: relative;
    z-index: 3; }
    #sitehead .brand div img {
      width: 3rem;
      height: 3rem;
      margin-bottom: 0.5rem; }
    #sitehead .brand a {
      color: white;
      text-shadow: 0.1rem 0.1rem 0.2rem black; }
      #sitehead .brand a:hover {
        color: #f6f4ed;
        text-decoration: none; }
  #sitehead .menubutton {
    display: none; }
  #sitehead .megacolumn {
    max-height: 3.3rem;
    overflow: hidden;
    padding: 0 1rem 2rem 0; }
    #sitehead .megacolumn.expanded {
      max-height: 128rem; }
    #sitehead .megacolumn p {
      cursor: pointer; }
      #sitehead .megacolumn p:hover {
        color: #22a8da; }
    #sitehead .megacolumn li {
      border-radius: 0.25rem; }
      #sitehead .megacolumn li:hover {
        background: white;
        color: black; }
      #sitehead .megacolumn li a {
        font-weight: 400;
        color: #2e6da4; }
        #sitehead .megacolumn li a:hover {
          text-decoration: none; }
    #sitehead .megacolumn header {
      height: 2.5rem;
      overflow: hidden;
      line-height: 1.3rem;
      margin-top: 0.65rem;
      padding: 0.25rem; }
      #sitehead .megacolumn header p {
        font-weight: 500;
        color: black; }
    #sitehead .megacolumn ul {
      list-style-type: none;
      padding: 0; }
      #sitehead .megacolumn ul li {
        padding: 0.25rem;
        line-height: 1.3rem; }
        #sitehead .megacolumn ul li a {
          display: block; }

.searchform {
  padding: 0.25rem;
  position: absolute;
  z-index: 102;
  right: 0;
  text-align: left; }
  .searchform label {
    margin-bottom: 0;
    display: block; }
  .searchform #searchinput {
    width: 50vw; }

.swoosh {
  position: relative;
  z-index: 103;
  background-repeat: repeat-x;
  background-image: url(../img/fiji_swoosh.svg);
  background-size: 105%;
  padding-bottom: 7%;
  pointer-events: none;
  margin-top: -4%;
  margin-left: -7px; }

.contain {
  position: relative; }

@media (min-width: 1200px) {
  #sitehead .swoosh {
    margin-top: -4%; }
  #sitehead .megamenu {
    max-height: 5.3rem; } }
@media (max-width: 319px) {
  #sitehead .brand {
    font-size: 1.2rem; } }
/* copy bootstrap logic of .container to .contain */
@media (min-width: 768px) {
  #sitehead .brand {
    font-size: 2.2rem; }
  #sitehead .megamenu {
    max-height: 3.3rem; }

  .contain {
    width: 750px;
    margin: 0 auto;
    padding: 0 1rem; } }
@media (min-width: 992px) {
  #sitehead .brand {
    font-size: 2.5rem; }

  .contain {
    width: 970px; } }
@media (min-width: 1200px) {
  #sitehead .brand {
    font-size: 2.8rem; }

  .contain {
    width: 1170px; } }
@media only screen and (min-width: 768px) {
  #sitehead .titlerow.row {
    height: 9rem; }
  #sitehead .searchform {
    right: 1.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 1em;
    padding-right: 1em; }
    #sitehead .searchform form {
      text-align: right; }
    #sitehead .searchform label {
      display: inline-block; }
    #sitehead .searchform #searchinput {
      width: 12rem; }
    #sitehead .searchform #searchinput {
      width: auto; }
  #sitehead .menubutton svg {
    width: 1.2rem;
    height: 1.2rem; }
  #sitehead .megamenu {
    height: auto;
    overflow: show; } }
@media only screen and (max-width: 480px) {
  #sitehead .menubutton {
    display: block;
    position: absolute;
    z-index: 101;
    top: 6rem;
    right: -2rem;
    padding: 0 4rem; }
    #sitehead .menubutton button {
      background: white;
      border: none;
      padding: 0.5rem 0.5rem 0.25rem 0.5rem;
      border-radius: 0.25rem;
      margin-top: 1rem; } }
@media only screen and (max-width: 767px) {
  #sitehead .megamenu nav .col:nth-child(2n+1) {
    clear: both; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #sitehead .megamenu nav .col:nth-child(4n+1) {
    clear: both; } }
/* footer styles */
footer {
  font-weight: 400; }
  footer p, footer li {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    line-height: 1.1em; }
  @media only screen and (max-width: 768px) {
    footer li {
      margin-bottom: 1.5rem; } }
  footer .container {
    border-top: 1px solid #666; }
  footer .image-wrapper {
    background-image: url(../img/footer.jpg);
    background-size: cover; }
  footer .translucency {
    margin: 0.5rem auto 2rem;
    background: #fcfeff;
    background: rgba(255, 255, 255, 0.8);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    padding: 1rem; }
  footer .views-row {
    margin-top: 0; }
  footer .row {
    padding-top: 0.5em; }
    footer .row.division {
      margin-top: 1em;
      border-top: 1px solid black; }
  footer header {
    font-weight: 700; }
  footer ul {
    list-style-type: none;
    padding-left: 0; }
    footer ul li span.field-content {
      color: black; }
  footer a {
    color: #1b4080; }

/* Workbench moderation styling */
.block-workbench .workbench-info-block {
  background-color: rgba(255, 251, 217, 0.7);
  padding: 1rem; }
  .block-workbench .workbench-info-block select {
    margin: 0.25rem 0;
    width: auto; }
    .block-workbench .workbench-info-block select > option {
      padding: 0.25rem 0.5rem; }
  .block-workbench .workbench-info-block button {
    cursor: pointer;
    padding: 4px 17px;
    margin-bottom: 1em;
    margin-right: 1em;
    color: #5a5a5a;
    text-align: center;
    font-weight: normal;
    font-size: 1.077em;
    font-family: "Lucida Grande", Verdana, sans-serif;
    border: 1px solid #e4e4e4;
    border-bottom: 1px solid #b4b4b4;
    border-left-color: #d2d2d2;
    border-right-color: #d2d2d2;
    background: url(/themes/seven/images/buttons.png) 0 0 repeat-x;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #999;
    text-transform: none; }
    .block-workbench .workbench-info-block button:hover {
      background: white; }

/* image gallery styling */
ul.galleries-list .view-node-gallery-gallery-item-views header, ul.galleries-list .view-node-gallery-gallery-item-views .field-name-body {
  display: none; }

ul.gallery-list, ul.galleries-list, ul.gallery-thumbnail-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul.gallery-list li.views-row, ul.galleries-list li.views-row, ul.gallery-thumbnail-list li.views-row {
    display: inline-block;
    max-width: 16rem;
    vertical-align: top;
    margin-top: 0; }

ul.gallery-list li.views-row, ul.galleries-list li.views-row {
  margin-right: 1rem; }

/* state level components
 * something that augments and overrides all other styles, e.g. collapsed
 * accordion or message in error state.
 *
 */
/* tweaks to forms and form inputs */
@media (min-width: 768px) {
  #user-login input, #user-pass input {
    max-width: 300px; }

  .search-filter-button {
    display: none; }

  #search-filter-collapsable {
    display: block; } }
.view-dataset-search .views-field-title, .view-dataset-search .views-field-field-publication-year {
  display: inline-block; }
.view-dataset-search .views-row-odd {
  background: rgba(255, 255, 255, 0.9); }
.view-dataset-search h3 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: -1rem;
  font-weight: 400; }
.view-dataset-search h4 {
  font-weight: 400;
  font-size: 1.3em;
  display: inline-block; }
  .view-dataset-search h4 + * {
    display: inline-block;
    float: right; }

.view-document-search .views-row, .view-policy-search .views-row, .view-educational-resources-2 .views-row,
.view-news-search-2 .views-row, .view-site-search .views-row, .view-event-search .views-row, .view-project-search .views-row,
.view-organisation-search .views-row, .view-latest-news .views-row, .view-regional-search .views-row, .view--fund-search .views-row {
  padding-top: 1rem;
  padding-bottom: 1.5em;
  padding-right: 2em;
  clear: left;
  margin-top: 0;
  overflow-wrap: break-word; }
  .view-document-search .views-row:after, .view-policy-search .views-row:after, .view-educational-resources-2 .views-row:after,
  .view-news-search-2 .views-row:after, .view-site-search .views-row:after, .view-event-search .views-row:after, .view-project-search .views-row:after,
  .view-organisation-search .views-row:after, .view-latest-news .views-row:after, .view-regional-search .views-row:after, .view--fund-search .views-row:after {
    content: "";
    display: block;
    clear: both; }
.view-document-search .views-row-odd, .view-policy-search .views-row-odd, .view-educational-resources-2 .views-row-odd,
.view-news-search-2 .views-row-odd, .view-site-search .views-row-odd, .view-event-search .views-row-odd, .view-project-search .views-row-odd,
.view-organisation-search .views-row-odd, .view-latest-news .views-row-odd, .view-regional-search .views-row-odd, .view--fund-search .views-row-odd {
  background: rgba(255, 255, 255, 0.9); }
.view-document-search .result-image, .view-policy-search .result-image, .view-educational-resources-2 .result-image,
.view-news-search-2 .result-image, .view-site-search .result-image, .view-event-search .result-image, .view-project-search .result-image,
.view-organisation-search .result-image, .view-latest-news .result-image, .view-regional-search .result-image, .view--fund-search .result-image {
  display: inline;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
  float: left;
  margin-right: 1em; }
@media (min-width: 768px) {
  .view-document-search .views-row, .view-policy-search .views-row, .view-educational-resources-2 .views-row,
  .view-news-search-2 .views-row, .view-site-search .views-row, .view-event-search .views-row, .view-project-search .views-row,
  .view-organisation-search .views-row, .view-latest-news .views-row, .view-regional-search .views-row, .view--fund-search .views-row {
    padding-left: 120px; }
  .view-document-search .result-image, .view-policy-search .result-image, .view-educational-resources-2 .result-image,
  .view-news-search-2 .result-image, .view-site-search .result-image, .view-event-search .result-image, .view-project-search .result-image,
  .view-organisation-search .result-image, .view-latest-news .result-image, .view-regional-search .result-image, .view--fund-search .result-image {
    margin-left: -110px;
    margin-right: -10px; }
  .view-document-search .views-field, .view-policy-search .views-field, .view-educational-resources-2 .views-field,
  .view-news-search-2 .views-field, .view-site-search .views-field, .view-event-search .views-field, .view-project-search .views-field,
  .view-organisation-search .views-field, .view-latest-news .views-field, .view-regional-search .views-field, .view--fund-search .views-field {
    position: relative;
    left: 2em;
    margin-right: 2em; } }
.view-document-search h3, .view-policy-search h3, .view-educational-resources-2 h3,
.view-news-search-2 h3, .view-site-search h3, .view-event-search h3, .view-project-search h3,
.view-organisation-search h3, .view-latest-news h3, .view-regional-search h3, .view--fund-search h3 {
  display: inline; }
  .view-document-search h3 + *, .view-policy-search h3 + *, .view-educational-resources-2 h3 + *,
  .view-news-search-2 h3 + *, .view-site-search h3 + *, .view-event-search h3 + *, .view-project-search h3 + *,
  .view-organisation-search h3 + *, .view-latest-news h3 + *, .view-regional-search h3 + *, .view--fund-search h3 + * {
    display: inline-block;
    float: right; }
.view-document-search .views-field-title, .view-policy-search .views-field-title, .view-educational-resources-2 .views-field-title,
.view-news-search-2 .views-field-title, .view-site-search .views-field-title, .view-event-search .views-field-title, .view-project-search .views-field-title,
.view-organisation-search .views-field-title, .view-latest-news .views-field-title, .view-regional-search .views-field-title, .view--fund-search .views-field-title {
  margin-right: 0; }
  .view-document-search .views-field-title a, .view-policy-search .views-field-title a, .view-educational-resources-2 .views-field-title a,
  .view-news-search-2 .views-field-title a, .view-site-search .views-field-title a, .view-event-search .views-field-title a, .view-project-search .views-field-title a,
  .view-organisation-search .views-field-title a, .view-latest-news .views-field-title a, .view-regional-search .views-field-title a, .view--fund-search .views-field-title a {
    font-size: 1.3rem;
    line-height: 110%;
    font-weight: 400; }

.view-project-search .views-row, .view-regional-search .views-row {
  padding-left: 0; }
.view-project-search .views-field-solr-document, .view-project-search .views-field-solr-document-2, .view-regional-search .views-field-solr-document, .view-regional-search .views-field-solr-document-2 {
  margin-right: 0; }
@media (min-width: 768px) {
  .view-project-search .views-row, .view-regional-search .views-row {
    padding-left: 0; } }

.view-latest-news h2 {
  display: inline; }
  .view-latest-news h2 + * {
    display: inline-block;
    float: right; }
.view-latest-news .views-field-title {
  margin-right: 0; }
  .view-latest-news .views-field-title a {
    font-size: 1.3rem;
    line-height: 110%;
    font-weight: 400; }

/* news and event page overrides */
.node-news .field-name-field-image, .node-event .field-name-field-image {
  display: inline-block;
  float: right;
  margin: 0 0 1rem 1rem;
  max-width: 50%; }

.node-organisation .field-name-field-image {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em; }

.nab-threecol-stacked h1, .nab-threecol-stacked h2 {
  text-align: center; }
.nab-threecol-stacked h1 {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 0.8em; }
.nab-threecol-stacked h2 {
  margin-top: 1em;
  font-size: 2rem; }
.nab-threecol-stacked h3 {
  color: #921d34; }
.nab-threecol-stacked .col-sm-8 {
  padding-left: 0;
  padding-right: 0; }
.nab-threecol-stacked .entity-bean {
  text-align: center; }

.view-promoted-content {
  margin: 2rem 0;
  font-size: 0; }
  .view-promoted-content h2 {
    font-size: 1.4rem; }
  .view-promoted-content ul.promoted-content-item {
    list-style-type: none;
    padding: 0; }
    .view-promoted-content ul.promoted-content-item li.views-row {
      display: inline-block;
      width: 33.33333%;
      font-size: 1rem;
      padding: 0 2rem;
      vertical-align: top; }
      @media only screen and (min-width: 769px) {
        .view-promoted-content ul.promoted-content-item li.views-row:not(:last-child):before {
          content: "";
          height: 450px;
          position: relative;
          display: inline-block;
          float: right;
          margin-right: -2rem;
          width: 1px;
          border-right: 1px solid #ccc; } }
      .view-promoted-content ul.promoted-content-item li.views-row .node-image * {
        margin-left: auto;
        margin-right: auto;
        text-align: center; }
      .view-promoted-content ul.promoted-content-item li.views-row div {
        margin-bottom: 0.25rem; }
      .view-promoted-content ul.promoted-content-item li.views-row .field-name-field-cover-image {
        display: inline-block;
        float: left;
        margin-right: 1rem; }
      .view-promoted-content ul.promoted-content-item li.views-row .field-name-post-date, .view-promoted-content ul.promoted-content-item li.views-row .field-name-field-start-end-date {
        display: block;
        text-align: center; }
      .view-promoted-content ul.promoted-content-item li.views-row .node-node-gallery-item header {
        display: none; }
      .view-promoted-content ul.promoted-content-item li.views-row .field-name-node-gallery-media img {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25); }

@media only screen and (max-width: 768px) {
  .view-promoted-content ul.promoted-content-item li.views-row {
    width: 100%;
    padding: 0; } }
.gallery-list .img-responsive {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0.5em; }

.test {
  background-color: #fff; }

#sitehead {
  background-color: #e2ded8;
  color: #333; }

#sitehead .searchform {
  padding: 8px 16px;
  right: 8px;
  background-color: #e2ded8; }

deptrow .row {
  background-color: #70a8bd; }

deptrow .row .col a {
  color: #e2ded8;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600; }

/*# sourceMappingURL=site.css.map */
