<!-- climatemega/templates/facet_collapser.html -->
<style type="text/css">.toggle-next-siblings.hider ~ div { display: none; }
.toggle-next-siblings.hider span.hideme {display: none;}
.toggle-next-siblings.shower span.showme {display: none;}
.hidden { display: none; }
</style>
<script type="text/javascript">
var FacetCollapser = (function() {
  var ssel,
      ssroot;
  function init(el_id) {
    var ssel, ssroot, defaultdisplayclass;
    ssel = document.getElementById(el_id);
    ssroot = ssel.parentNode.parentNode.parentNode.parentNode;
    if ('classList' in ssel) {
      if (window.innerWidth < 1024) {
         defaultdisplayclass = 'hider';
      } else {
         defaultdisplayclass = 'shower';
      }  
      ssroot.classList.add('toggle-next-siblings', defaultdisplayclass);
      ssel.addEventListener("click", function(e) {
        ssroot.classList.toggle('hider');
        ssroot.classList.toggle('shower');
        e.preventDefault();
      });
    } else {
      ssel.className = 'hidden';
    }
  }
  return {
    init: init
  };
}());
window.onload = function() {
  FacetCollapser.init('hideshowfacets');
};
</script><div id="hideshowfacets"><a class="btn btn-secondary" href="#" title="Hide or show facets"><span class="hideme">Hide</span><span class="showme">Show</span> Filters </a></div>
